<!DOCTYPE html>
<html>
    <head>
        <link href="/static/style.css" rel="stylesheet" type="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>video</title>
    </head>
    <body>
        <div id="description"></div>
        <div id="player">
            <video id="video" controls>
                <source type="video/mp4"/>
            </video>
            <ul id="playlist"/>
        </div>
    </body>
    <script src="/static/videos.js"></script>
    <script src="/static/script.js"></script>
</html>
